(
sinA,
sinAa,
sinAae,
sinAe,
sinAi,
sinAu,
sinBa,
sinBha,
sinCa,
sinCha,
sinDa,
sinDda,
sinDdha,
sinDha,
sinE,
sinEe,
sinFa,
sinGa,
sinGha,
sinHa,
sinI,
sinIi,
sinJa,
sinJha,
sinJnya,
sinKa,
sinKha,
sinLa,
sinLla,
sinMa,
sinMba,
sinNa,
sinNda,
sinNdja,
sinNga,
sinNna,
sinNndda,
sinNnga,
sinNya,
sinO,
sinOo,
sinPa,
sinPha,
sinRa,
sinSa,
sinSha,
sinSsa,
sinTa,
sinTha,
sinTta,
sinTtha,
sinU,
sinUu,
sinVa,
sinVocalicR,
sinVocalicl,
sinVocalicll,
sinYa,
sinvocalicRr,
space,
nbspace,
zerowidthnonjoiner,
zerowidthjoiner,
CR,
.notdef,
.null,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
hyphen,
softhyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
dottedCircle,
sinAnusvara,
sinKundaliya,
sinMatraAa,
sinMatraAae,
sinMatraAe,
sinMatraAi,
sinMatraAu,
sinMatraE,
sinMatraEe,
sinMatraI,
sinMatraIi,
sinMatraLl,
sinMatraLs,
sinMatraO,
sinMatraOo,
sinMatraR,
sinMatraRr,
sinMatraU,
sinMatraUu,
sinVirama,
sinVisarga,
mooniak,
sinBI,
sinBIi,
sinBRI,
sinBRIi,
sinBRa,
sinBU,
sinBUu,
sinBhI,
sinBhIi,
sinBhRI,
sinBhRIi,
sinBhRa,
sinBhU,
sinBhUu,
sinCI,
sinCIi,
sinCRI,
sinCRIi,
sinCRa,
sinCU,
sinCUu,
sinChI,
sinChIi,
sinChU,
sinChUu,
sinDI,
sinDIi,
sinDRI,
sinDRIi,
sinDRa,
sinDU,
sinDUu,
sinDdI,
sinDdIi,
sinDdRI,
sinDdRIi,
sinDdRa,
sinDdU,
sinDdUu,
sinDdhI,
sinDdhIi,
sinDdhU,
sinDdhUu,
sinDhI,
sinDhIi,
sinDhRI,
sinDhRIi,
sinDhRa,
sinDhU,
sinDhUu,
sinDrI,
sinDrIi,
sinDra,
sinDvocR,
sinDvocRr,
sinFI,
sinFIi,
sinFRI,
sinFRIi,
sinFRa,
sinFU,
sinFUu,
sinGI,
sinGIi,
sinGRI,
sinGRIi,
sinGRa,
sinGU,
sinGUu,
sinGhI,
sinGhIi,
sinGhRI,
sinGhRIi,
sinGhRa,
sinGhU,
sinGhUu,
sinHI,
sinHIi,
sinHRI,
sinHRIi,
sinHRa,
sinHU,
sinHUu,
sinJI,
sinJIi,
sinJRI,
sinJRIi,
sinJRa,
sinJU,
sinJUu,
sinJhI,
sinJhIi,
sinJhRI,
sinJhRIi,
sinJhRa,
sinJhU,
sinJhUu,
sinJnyI,
sinJnyIi,
sinJnyRI,
sinJnyRIi,
sinJnyRa,
sinJnyU,
sinJnyUu,
sinKI,
sinKIi,
sinKRI,
sinKRIi,
sinKRa,
sinKSsI,
sinKSsIi,
sinKSsU,
sinKSsUu,
sinKSsa,
sinKU,
sinKUu,
sinKVI,
sinKVIi,
sinKVU,
sinKVUu,
sinKVa,
sinKhI,
sinKhIi,
sinKhRI,
sinKhRIi,
sinKhRa,
sinKhU,
sinKhUu,
sinLI,
sinLIi,
sinLU,
sinLUu,
sinLlI,
sinLlIi,
sinLlU,
sinLlUu,
sinMI,
sinMIi,
sinMRI,
sinMRIi,
sinMRa,
sinMU,
sinMUu,
sinMbI,
sinMbIi,
sinMbU,
sinMbUu,
sinNDI,
sinNDIi,
sinNDRI,
sinNDRIi,
sinNDRa,
sinNDU,
sinNDUu,
sinNDa,
sinNDhI,
sinNDhIi,
sinNDhU,
sinNDhUu,
sinNDha,
sinNI,
sinNIi,
sinNThI,
sinNThIi,
sinNThU,
sinNThUu,
sinNTha,
sinNU,
sinNUu,
sinNVI,
sinNVIi,
sinNVU,
sinNVUu,
sinNVa,
sinNdI,
sinNdIi,
sinNdRa,
sinNdU,
sinNdUu,
sinNdda,
sinNdjI,
sinNdjIi,
sinNdjRa,
sinNdjU,
sinNdjUu,
sinNgI,
sinNgIi,
sinNnI,
sinNnIi,
sinNnU,
sinNnUu,
sinNnddI,
sinNnddIi,
sinNnddU,
sinNnddUu,
sinNngI,
sinNngIi,
sinNngU,
sinNngUu,
sinNyI,
sinNyIi,
sinNyRI,
sinNyRIi,
sinNyRa,
sinNyU,
sinNyUu,
sinPI,
sinPIi,
sinPRI,
sinPRIi,
sinPRa,
sinPU,
sinPUu,
sinPhI,
sinPhIi,
sinPhU,
sinPhUu,
sinRAae,
sinRAe,
sinRI,
sinRIi,
sinRU,
sinRUu,
sinRakar,
sinReph,
sinSI,
sinSIi,
sinSRI,
sinSRIi,
sinSRa,
sinSU,
sinSUu,
sinShI,
sinShIi,
sinShRI,
sinShRIi,
sinShRa,
sinShU,
sinShUu,
sinSsI,
sinSsIi,
sinSsRI,
sinSsRIi,
sinSsRa,
sinSsU,
sinSsUu,
sinTI,
sinTIi,
sinTRI,
sinTRIi,
sinTRa,
sinTThI,
sinTThIi,
sinTThU,
sinTThUu,
sinTTha,
sinTU,
sinTUu,
sinTVI,
sinTVIi,
sinTVU,
sinTVUu,
sinTVa,
sinThI,
sinThIi,
sinThU,
sinThUu,
sinTtI,
sinTtIi,
sinTtRI,
sinTtRIi,
sinTtRa,
sinTtTthI,
sinTtTthIi,
sinTtTthU,
sinTtTthUu,
sinTtTtha,
sinTtU,
sinTtUu,
sinTthI,
sinTthIi,
sinTthU,
sinTthUu,
sinVI,
sinVIi,
sinVRI,
sinVRIi,
sinVRa,
sinVU,
sinVUu,
sinYI,
sinYIi,
sinYU,
sinYUu,
sinB.virama,
sinBR.virama,
sinBh.virama,
sinBhRa.virama,
sinC.virama,
sinCR.virama,
sinCh.virama,
sinD.virama,
sinDAe.ss01,
sinDR.virama,
sinDd.virama,
sinDdR.virama,
sinDda.virama,
sinDdh.virama,
sinDh.virama,
sinDhR.virama,
sinF.virama,
sinFR.virama,
sinG.virama,
sinGR.virama,
sinGh.virama,
sinGhR.virama,
sinH.virama,
sinHR.virama,
sinJ.virama,
sinJR.virama,
sinJh.virama,
sinJhR.virama,
sinJny.virama,
sinJnyR.virama,
sinK.virama,
sinKSs.virama,
sinKV.virama,
sinKh.virama,
sinKhR.virama,
sinL.virama,
sinLl.virama,
sinM.virama,
sinMR.virama,
sinMatraAa.virama,
sinMatraI.alt,
sinMatraI.alt1,
sinMatraI.alt2,
sinMatraI.alt3,
sinMatraIi.alt,
sinMatraIi.alt1,
sinMatraIi.alt2,
sinMatraIi.alt3,
sinMatraU.alt,
sinMatraU.alt1,
sinMatraU.alt2,
sinMatraU.alt3,
sinMatraUu.alt,
sinMatraUu.alt1,
sinMatraUu.alt2,
sinMatraUu.alt3,
sinMb.virama,
sinN.virama,
sinND.virama,
sinNDh.virama,
sinNTh.virama,
sinNV.virama,
sinNd.virama,
sinNdj.virama,
sinNdjR.virama,
sinNg.virama,
sinNn.virama,
sinNndd.virama,
sinNng.virama,
sinNy.virama,
sinNyR.virama,
sinP.virama,
sinPR.virama,
sinPh.virama,
sinR.virama,
sinRakar.long,
sinRakar.medium,
sinRakar.short,
sinS.virama,
sinSR.virama,
sinSh.virama,
sinShR.virama,
sinSs.virama,
sinSsR.virama,
sinT.virama,
sinTR.virama,
sinTTh.virama,
sinTV.virama,
sinTh.virama,
sinTt.virama,
sinTtR.virama,
sinTtTth.virama,
sinTth.virama,
sinV.virama,
sinVR.virama,
sinY.virama,
sinYI.post,
sinYIi.post,
sinYU.post,
sinYUu.post,
sinYa.post,
sinY.post.virama
)